
//
// VARIABLES
//

// Colors
$blue: #3066be;
$burntOrange: #BE5103;
$beige: #fae3c0; // #f0e6cc; 

// Grays
$medBlack: #2d2a32;
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
